body{
    padding: 0;
    margin: 0;
    background-color: #114232;
}
table{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff;
}
th{
    border: 2px solid black;
    font-size: 1rem;
}
td{
    border: 2px solid black;
    font-size: 0.9rem;
}
caption{
    background-color: #ffffff;
    border: 2px solid black;
    font-size: 3rem;
}

div{
 position: absolute;
 top: 65%;
 left: 43%;
 transform: translate(-50%,-50%);
}
ul li{
    color: #ffffff;
}
ol li{
    color: #ffffff;
}